.checkPh_pl1{
	display: none;
}
.small_font_pl1{
	font-size: 12px;
}
.sid-suni-toggleSU-pl1-jq, .sid-suni-toggleSI-pl1-jq{
	border-radius: 3px;
}
.se_unsee_pl1{
	cursor: pointer;
}
.sid-suni-toggleSI-pl1-jq{
	background-color:#878787;
	color: white;
}
.sid-suni-wrapperSI-pl1, .sid-suni-wrapperSU-pl1{
	margin-bottom: 50px;
}
.sid-suni-mike-pl1{
	margin: 15px auto;
}

.sid_margin_auto_pl1{
	margin: 0px auto;
}